.nytimes-navbar-tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
.nytimes-navbar-tab {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
  /* Change background color of buttons on hover */
.nytimes-navbar-tab:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
.nytimes-navbar-tab.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
.nytimes-display-frame {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .hide {
    display: none;
  }
  .article-row:hover + .hide {
    display: block;
  }

  .bookmark-btn {
    max-width: 10px;
  }