* {
    font-family: 'Poppins';
}

.wizard-img {
    height: 40px;
}

.storeCat {
    height: 100px;
}

.navbar-brand {
    font-size: 36px;
}

.navbar-color .navbar {
    background-color: #0b132b;
}

.dropdown {
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
}

.dashboard {
    border: black 3px solid;
    padding: 20rem;
    margin-top: 2rem;
}

.btn-space {
    margin-right: 1rem;
}